#background {
    position: relative;
}

#background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background-image: url('fotos/pexels-rafael-cosquiere-2041540.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#main_content {
    position: relative;
}

#information {
    width: 180px;
    height: 200px;
    background-color: white;
    margin-top: 2px;
}

#disciplinas {
    margin-left: 120px;
    display: inline;
    padding-left: 50px;
}

#resultados {
    display: inline-block;
    background-color: white;
    width: 1250px;
    height: 450px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 20px;
}

footer>p {
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: center;
}

#entradas {
    display: inline-block;
    margin: 20px;
}

h1 {
    color: white;
    text-align: center;
    margin: 0px;
}

#grafico {
    background-color: white;
    width: 1000px;
    height: 350px;
    display: inline-block;
    margin-left: 230px;
    margin-top: -220px;
}

#fm {
    margin-top: 15px;
}

#btn {
    padding-left: 20px;
}