* {
    padding: 0;
    margin: 0;
}

#background {
    position: relative;
}

#background:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    background-image: url('fotos/pexels-rafael-cosquiere-2041540.jpg');
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

#main_content {
    position: relative;
}

#information {
    width: 180px;
    height: 200px;
    background-color: white;
    margin-top: 2px;
}

#disciplinas {
    margin-left: 120px;
    display: inline;
    padding-left: 50px;
}

#resultados {
    display: inline-block;
    background-color: white;
    width: 1250px;
    height: 500px;
    margin-top: 50px;
    margin-left: 50px;
    padding-left: 20px;
}

h3 {
    font-size: 15px;
    text-align: center;
}

#entradas {
    display: inline-block;
    margin: 20px;
}

h1 {
    color: white;
    text-align: center;
    margin: 0px;
}

#grafico {
    background-color: black;
    width: 1000px;
    height: 340px;
    display: inline-block;
    margin-left: 230px;
    margin-top: -250px;
}

#fm {
    margin-top: 15px;
}

#btn {
    padding-left: 20px;
}


section {
    width: 800px;
    height: auto;
    margin: 100px auto;
}

#galeria img {
    float: left;
    width: 250px;
    padding: 5px;
    transition: all .4s;
}

section label {
    width: 175px;
    padding: 20px 10px;
    display: block;
    float: left;
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    cursor: pointer;
}

input:checked+label {
    background-color: #586f75;
}

input {
    display: none;
}

#bt_exatas:checked~#galeria .exatas {
    opacity: .4;
    transform: scale(0.5);
}

#bt_humanas:checked~#galeria .humanas {
    opacity: .4;
    transform: scale(0.5);
}


#bt_idiomas:checked~#galeria .idiomas {
    opacity: .4;
    transform: scale(0.5);
}


#bt_biologicas:checked~#galeria .biologicas {
    opacity: .4;
    transform: scale(0.5);
}