body {
    width: 100%;
    height: 100%;
    background-color: white;
    padding-left: 25px;
    background-image: url(fotos/pexels-rafael-cosquiere-2041540.jpg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-attachment: fixed;
}

#disciplinas {
    width: 100px;
    height: 222px;
    background-color: white;
    margin-top: -330px;
}

#resultados {
    display: inline-block;
    background-color: white;
    width: 1250px;
    height: 450px;
    margin-top: 50px;
    padding-left: 25px;
    align-items: center;
}

footer>p {
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 15px;
    text-align: center;
}

#entradas {
    display: inline-block;
    margin: 25px;
}

h1 {
    color: white;
    text-align: center;
}

#grafico {
    background-color: white;
    width: 850px;
    height: 350px;
    display: inline-block;
    margin-left: 300px;
}